*.terraform
.terraform.lock.hcl
.terraformrc
terraform.tfvars
terraform.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terragrunt-cache/
.terragrunt.hcl
.terragrunt-ignore
crash.log
.terraform-version
.terraformrc.local
.terraform.d/plugins/
.terraform.d/providers/
.terraform.d/registry/
.terraform.d/plugins.json
.terraform.d/plugin-cache/
.terraform.d/plugin-signing/
.terraform.d/credentials.tfrc.json
.terraform.d/cli-config.tfrc.json
.terraform.d/plugin-repos.json
.terraform.d/modules/
.terraform.d/sessions/
.terraform.d/workspaces/
.terraform.d/plugin-development/
.terraform.d/plugin-development-signing/
.terraform.d/plugin-development-cache/
.terraform.d/plugin-development-repos.json
.terraform.d/plugin-development-credentials.tfrc.json
.terraform.d/plugin-development-cli-config.tfrc.json
.terraform.d/plugin-development-sessions/
.terraform.d/plugin-development-workspaces/
.terraform.d/plugin-development-modules/
.terraform.d/plugin-development-plugins.json